@import "bourbon/bourbon";
#simulation * {
    @include transition(all 1.4s);
}

html, body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
}

.container-fluid {
    height: 100%;
}

.backdrop {
    background-color: #EEE;
    border-radius: 6px;
}

.scope{
	float: left;
	.banner {
		text-align: center;
		width: calc(100% - 10px);
		border-bottom: solid 1px black;
	}

	.scp {
		display: flex;
		flex-wrap: wrap;
	}
}

.newborn {
    position: relative;
    width: 0px;
    height: 0px;
    left: 90%;
    top: 0%;
}

.navbar-brand {
    padding: 5px !important;
}

.var {
    position: relative;
    left: 0px;
    height: 70px;
    border: solid 1px black;
    border-radius: 5px;
    .tagTop, .tagBot {
        height: 35%;
    }
    .tagTop {
        
        display: flex;
        .name, .type{
            height: 100%;
            text-align: center;
            float: left;
            border-bottom: solid 1px black;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .name {
            border-right: solid 1px black;
        }
    }
    .tagBot {
        text-align: center;
    }
}

#simulation {
    height: 100%;
}

#sb-btn {
    width: 100%;
}

#ace1 {
    height: 50%;
    width: 100%;
    transition: none;
}

#ace1 * {
    transition: none;
}

#editor { 
    position: relative;
    border: 1px solid #BBB;
    border-radius: 7px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
}

#input {
    position: relative;
    height: 50%;
    width: 50%;
}

.txt {
    height: 100%;
    width: 48.7%;
}
