@import "bourbon/bourbon";
* {
    @include transition(all 1.4s);
}
html, body {
    height: 99%;
    width: 99%;
}

div {
	padding: 5px;
}

.scope{
	float: left;
	.banner {
		text-align: center;
		width: calc(100% - 10px);
		border-bottom: solid 1px black;
	}

	.scp {
		display: flex;
		flex-wrap: wrap;
	}
}

.newborn {
    position: relative;
    width: 0px;
    height: 0px;
    left: 90%;
    top: 0%;
}

.var {
    position: relative;
    left: 0px;
    height: 70px;
    border: solid 1px black;
    border-radius: 5px;
    .tagTop, .tagBot {
        height: 35%;
    }
    .tagTop {
        
        display: flex;
        .name, .type{
            height: 100%;
            text-align: center;
            float: left;
            border-bottom: solid 1px black;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .name {
            border-right: solid 1px black;
        }
    }
    .tagBot {
        text-align: center;
    }
}